/*---------- $9. Custom Select ----------*/

@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

select {

  &.dropdown-display {
    -webkit-appearance: none;
    appearance: none;
    background-color: $sapphire-white;
    border: 0;
    border-bottom: 1px solid $light-grey;
    border-radius: 0;
    font-size: $font-size-heading4;
    height: 50px;
    overflow: hidden;
    padding-right: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.select-dropdown {
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

.select-dropdown:after {
  border: 1px solid $regular-alpha;
  border-right: 0;
  border-top: 0;
  content: " ";
  height: 10px;
  position: absolute;
  right: -5px;
  top: 28px;
  -webkit-transform: rotate(-45deg) translateY(-15px);
  transform: rotate(-45deg) translateY(-15px);
  width: 10px;
}

.is-rtl .select-dropdown:after {
  left: 15px;
  right: unset;
}


.custom-select-click {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99
}

.custom-select-mark {
  position: relative;
}
