/*---------- Tag colors ----------*/
.tag.text-black {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
}

.tag.text-blue {
  background-color: transparent;
  border: 1px solid #2d7daa;
  color: #2d7daa;
}

.tag.text-green {
  background-color: transparent;
  border: 1px solid #7cb342;
  color: #7cb342;
}

.tag.text-grey {
  background-color: transparent;
  border: 1px solid #6e6e6e;
  color: #6e6e6e;
}

.tag.text-orange {
  background-color: transparent;
  border: 1px solid #ef7622;
  color: #ef7622;
}

.tag.text-primary-color {
  background-color: transparent;
  border: 1px solid #00bfa5;
  /*primary-color*/
  color: #00bfa5;
  /*primary-color*/
}

.tag.text-red {
  background-color: transparent;
  border: 1px solid #cc3524;
  color: #cc3524;
}

.tag.text-violet {
  background-color: transparent;
  border: 1px solid #7b1fa2;
  color: #7b1fa2;
}

.tag.text-white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
