/* Text Sizes */
.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.text-medium-large {
  font-size: 24px;
}

.text-large {
  font-size: 18px;
}

.text-extra-large {
  font-size: 26px;
}


.text-extra2-large {
  font-size: 60px;
}

/*Font sizes*/
.text-size-medium {
  font-size: 20px;
}

/* Text colors */
.text-red {
  color: #cc3524
}

.text-dark-red {
  color: #951919
}

.text-light-red {
  color: #ff3e2d
}

.text-violet {
  color: #7b1fa2
}

.text-dark-violet {
  color: #4a148c
}

.text-light-violet {
  color: #ab47bc
}

.text-blue {
  color: #2d7daa
}

.text-dark-blue {
  color: #11455d
}

.text-light-blfe {
  color: #00BFA5
}

.text-green {
  color: #7cb342
}

.text-dark-green {
  color: #00927e
}

.text-light-green {
  color: #8bc34a
}

.text-orange {
  color: #ef7622
}

.text-dark-orange {
  color: #a54715
}

.text-light-orange {
  color: #ffa000
}

.text-grey {
  color: #6e6e6e
}

.text-dark-grey {
  color: #5C5C5C
}

.text-light-grey {
  color: #c3c3c3
}

.text-light-grey2 {
  color: #eeeeee
}

.text-light-grey3 {
  color: #f5f5f5
}

.text-white {
  color: #fff
}

.text-black {
  color: #333333
}

.text-primary-color {
  color: #00BFA5
    /*primary-color*/
}
