/* ListEmptyState */

@use '~/Settings/colors';

.list-empty-state {
  background: colors.$sapphire-white;
  display: block;
  padding: 20px;
  position: relative;
}

.list-empty-state-title {
  background: colors.$light-grey;
  background: linear-gradient(to right, colors.$light-grey 0%, colors.$sapphire-white 50%, colors.$light-grey 100%);
  display: inline-block;
  height: 20px;
  width: 20%;
}

.list-empty-state-list-content {
  padding: 30px 0 50px;
}

.list-empty-state--list-item {
  position: relative;
  width: 90%;
}

.list-empty-state--list-item:not(:first-child) {
  margin-top: 20px;
}

.list-empty-state--list-item .list-item-content-left {
  background: colors.$light-grey;
  border-radius: 100%;
  display: inline-block !important;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.list-empty-state--list-item .list-item-content-title {
  background: colors.$light-grey;
  background: linear-gradient(to right, colors.$light-grey 0%, colors.$sapphire-white 50%, colors.$light-grey 100%);
  display: block !important;
  height: 20px;
}

.list-empty-state--list-item .list-item-content-text {
  background: colors.$light-grey;
  background: linear-gradient(to right, colors.$light-grey 0%, colors.$sapphire-white 50%, colors.$light-grey 100%);
  display: inline-block !important;
  height: 20px;
  margin-top: 7px;
  width: 50%;
}
