/* Icon Badge */
.icon-badge .badge {
  font-size: 10px;
  font-weight: 400;
  height: 20px;
  min-width: 20px;
  padding: 4px;
  top: -10px;

  .is-loading & {
    display: none;
  }
}

.icon-badge .badge span {
  line-height: 14px;
}

.header-right .icon-badge {
  margin-right: 0px;
}
