@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

.daily-badge {
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 $regular-grey;
  color: $dark-grey;
  padding: 10px;

  &__title {
    color: $regular-alpha;
    font-family: 'LatoBold';
    font-size: $font-size-heading3;
  }

}
