/* Range Slider */
@use '~Settings/colors'as *;

.noUi-origin .noUi-handle-lower:before,
.noUi-origin.noUi-connect .noUi-handle-lower:before,
.noUi-origin .noUi-handle-lower:after,
.noUi-origin.noUi-connect .noUi-handle-lower:after,
.noUi-origin.noUi-background .noUi-handle-upper:before {
  color: $regular-alpha;
  /*primary-color*/
}

.noUi-origin {
  background-color: $light-grey;
}

.noUi-origin.noUi-connect {
  background-color: $regular-alpha;
  /*primary-color*/
}

.noUi-base {
  background-color: $regular-alpha;
  /*primary-color*/
}

.noUi-horizontal .noUi-handle {
  background: $regular-alpha;
  /*primary-color*/
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  width: 16px;
}

.noUi-horizontal .noUi-handle.noUi-active {
  -webkit-transform: translateY(-50%) scale(1.5);
  -ms-transform: translateY(-50%) scale(1.5);
  transform: translateY(-50%) scale(1.5);
}

.noUi-target {
  margin: 15px 0;
}
