/* Chat Message */

@use '~Settings/colors';

.chat.left .chat-message {
  background-color: transparent;
  padding-top: 5px;
}

.chat.left .chat-message:before {
  display: none;
}

.chat.right .chat-message {
  background-color: colors.$regular-alpha;
  /*primary-color*/
  color: colors.$sapphire-white;
}

.chat.right .chat-message:before {
  border-right-color: colors.$regular-alpha;
  /*primary-color*/
}
