/* CardIconTopTextBottom */
.card-icon-top {
  background: #fff;
  padding: 40px 0;
  text-align: center;
}

.card-icon-top-icon {
  font-size: 34px;
}

.card-icon-top-text {
  word-break: break-word;
}
