/* Bottom Bar */

@use '~Settings/colors';

.bottom-bar .bottom-bar-item-icon .icon {
  font-size: 18px;
}

.bottom-bar.wizard-steps {
  background-color: colors.$light-grey;
  color: colors.$dark-grey;
  font-size: 14px;
  height: 48px;
  line-height: 28px;
  padding: 10px;
}

.bottom-bar.wizard-steps .fa {
  font-size: 18px;
  line-height: 28px;
  width: 10px;
}

.white-bottom-bar {
  background: colors.$sapphire-white;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .24), 0 0 8px rgba(0, 0, 0, .12);
  box-shadow: 0 8px 8px rgba(0, 0, 0, .24), 0 0 8px rgba(0, 0, 0, .12);
  line-height: 16px;
  padding: 10px;
}

.bottom-bar-wrapper.rquest-appoint,
.bottom-bar-wrapper.appointments-list {
  -webkit-box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, .09);
  box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, .09);
}

.bottom-bar-wrapper.rquest-appoint .bottom-bar,
.bottom-bar-wrapper.appointments-list .bottom-bar {
  display: block;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
}

.is-rtl .bottom-bar-wrapper.rquest-appoint .bottom-bar,
.is-rtl .bottom-bar-wrapper.appointments-list .bottom-bar {
  text-align: left;
}

.bottom-bar-wrapper.rquest-appoint a {
  display: inline-block;
}

/* Bottom bar */
.bottom .appointments-list {
  background-color: colors.$sapphire-white;
}

.bottom .appointments-list,
.bottom .detail-schedule,
.bottom .detail-request {
  background-color: colors.$sapphire-white;
  padding: 20px 15px;
}

.bottom .appointments-list a {
  color: colors.$dark-grey;
}

.bottom .btn,
/* added to solve height issue in all buttons */
.bottom .btn:hover,
/* added to solve height issue in all buttons */
.bottom .btn:focus,
/* added to solve height issue in all buttons */
.bottom .detail-schedule .btn,
.bottom .detail-request .btn {
  border-radius: 4px;
  line-height: 30px;
  margin-top: 10px;
  min-height: 50px;
}

.bottom .detail-request .btn:first-child,
.bottom .detail-schedule .btn:first-child {
  margin-top: 0;
}
