.icon-circle {
  background-color: $regular-alpha
    /*primary-color*/
}



/* Custom FontIcon Sample Page */
.list.list-icons {
  background-color: transparent;
}

.icon-demo {
  border-bottom: 0;
  color: $mid-light-grey;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.icon-demo span.sc {
  color: $regular-grey;
  font-size: 5.2em;
  white-space: normal;
}
