body,
.content {
  background: #F6F6F6;
  color: #333;
  font-family: Lato, Arial;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
