@use '~Settings/colors'as *;
@use '~Tools/background-gradient'as gradient;
@use '~Settings/fonts'as *;

.screen {
  z-index: 1;

  &.base {
    .header {
      background-color: transparent;

      .header-title {
        color: $sapphire-care-blue3;
      }
    }

    .list-item {
      padding: 15px 0;
    }
  }

  &.detail {
    .header {
      background-color: transparent;
      height: auto;

      .header-title {
        font-size: $font-size-heading3;
      }

      .header-content {
        .section {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .shadow {
      display: none;
    }
  }
}

.header {
  color: inherit;
  display: flex;
  flex-direction: column;
  //height: 120px;
  justify-content: center;

  a,
  a:link,
  a:visited {
    color: $regular-alpha;
    /*primary-color*/
    margin: 0;
    padding: 0;


  }
}

.header-top {
  height: 100px;
  padding: 0;
}

.app-menu-line {
  background-color: $regular-alpha;
  /*primary-color*/
}

.header-title,
.header-right {
  color: inherit;
}

.header-title {
  color: $sapphire-white;
  flex: 5;
  font-family: $latin-bold;
  font-size: $font-size-heading1;
  text-align: left;
  white-space: nowrap;

  .is-rtl & {
    font-family: $arabic-bold;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.is-rtl .header-title {
  text-align: right;
}

.header-content button.button-group-item.button-group-selected-item {
  color: $regular-alpha;

  &:after {
    background-color: $regular-alpha;
  }
}

@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .header-top {
    height: 60px;
  }
}
