@use '~Settings/colors';
@use '~Tools/background-gradient'as gradient;
@use '~Settings/fonts';

.screen {
  &.base {
    .header {
      background-color: transparent;

      .header-title {
        color: colors.$sapphire-care-blue3;
      }
    }
  }

  &.detail {
    .header {
      @include gradient.backgroundGradient;
    }
  }
}

.header {
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;

  a,
  a:link,
  a:visited {
    color: colors.$regular-alpha;
    /*primary-color*/
    margin: 0 -10px;
    padding: 0 10px;
  }
}

.header-top {
  height: 60px;
  padding: 0 15px;
}

.app-menu-line {
  background-color: colors.$regular-alpha;
  /*primary-color*/
}

.header-title,
.header-right {
  color: inherit;
}

.header-title {
  color: colors.$sapphire-white;
  flex: 5;
  font-size: fonts.$font-size-heading1;
  text-align: left;
  white-space: nowrap;

  img {
    display: block;
    margin: 0 auto;
  }
}

.is-rtl .header-title {
  text-align: right;
}

.header-content button.button-group-item.button-group-selected-item {
  color: colors.$regular-alpha;

  &:after {
    background-color: colors.$regular-alpha;
  }
}
