@use '~Settings/colors'as colors;

.layout.blank.bg-colored .content {
  background: colors.$regular-alpha;
  /*primary-color*/
  color: colors.$sapphire-white;
}

.layout.white-page .header {
  background: colors.$sapphire-white;
  color: colors.$regular-alpha;
  /*primary-color*/
}

.layout.white-page .content,
.layout.white-content .content,
.layout.white-content .bottom {
  background: colors.$sapphire-white;
}
