/* Menu */

@use '~Settings/colors'as *;

.app-menu {
	box-shadow: -15px 2px 40px 0 rgba(92, 92, 92, 0.41);
}

.app-menu a .icon,
.submenu .icon {
	color: $regular-alpha;
	/*primary-color*/
	font-size: 26px;
	margin: 0;
	padding-right: 20px;
	width: 45px;
}

.menu--visible .menu-background {
	opacity: 0.25;
}

.app-menu-links > a {
	padding-left: 20px !important;
}

.submenu-item {
	padding-left: 20px !important;
}

.is-rtl {
	.submenu-item {
		&:before {
			left: 15px;
		}

		&:after {
			left: 20px;
		}
	}

	.submenu.open {
		.submenu-item {
			&:before {
				left: 20px;
			}

			&:after {
				left: 15px;
			}
		}
	}
}

.submenu-items {
	a,
	a:link,
	a:visited {
		background-color: $sapphire-white;
		border: 0;
		border-bottom: 1px solid $light-grey;
	}

	a:first-child,
	a:link:first-child,
	a:visited:first-child {
		border-top: 1px solid $light-grey;
	}
}
