@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;
@use '~Tools/card-profile-image'as *;

.list-card {
  display: flex;

  &__title {
    font-family: $latin-bold;
    font-size: $font-size-heading4;

    .is-loading & {
      background-color: $light-grey;
      color: transparent;
      display: inline;
    }

    .is-rtl & {
      font-family: $arabic-bold;
    }
  }

  &__content {
    color: $mid-light-grey;

    .is-loading {
      margin-right: 10px;
    }

  }

  &__image {
    @include cardImageSize(50px, $regular-alpha);

    .is-loading {
      border-radius: 50%;
    }

  }

}
