@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

.list-card {
  .list-card__title {
    font-family: $latin-bold;
    font-size: $font-size-heading4;

    .is-rtl & {
      font-family: $arabic-bold;
    }
  }

  .list-card__content {
    color: $mid-light-grey;
  }
}
