input.checkbox:before {
  border: 1px solid #77909C;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input.checkbox:checked:before {
  background-color: #00BFA5;
  /*primary-color*/
  border: 1px solid #00BFA5;
  /*primary-color*/
}


input.checkbox:checked:after {
  top: 7px;
}

.is-rtl input.checkbox:checked:after {
  left: 2px;
  top: 7px;
}

input.checkbox[disabled]:before {
  border: 1px solid #eceff1;
}

/* Input invalid red color */

.animated-label-input input[data-input].not-valid {
  border-bottom: 1px solid #cc3524;
}



input[data-input]:focus,
textarea[data-textarea]:focus {
  border: 1px solid #0288d1;
}

input[data-input]:empty,
textarea[data-textarea]:empty {
  background: #fff;
  border: 1px solid #fff;
  border-bottom: 1px solid #1DC5AE;
  color: #333333;
}

input[data-input]:empty:focus,
textarea[data-textarea]:empty:focus {
  border: 1px solid #1DC5AE;
}


input[data-input][disabled],
input[data-input][readonly],
textarea[data-textarea][disabled],
textarea[data-textarea][readonly] {
  border: 1px solid #EEEEEE;
}


input[data-input]:empty::-webkit-input-placeholder,
textarea[data-textarea]:empty::-webkit-input-placeholder,
input[data-input]:empty::-moz-placeholder,
textarea[data-textarea]:empty::-moz-placeholder,
input[data-input]:empty:-ms-input-placeholder,
textarea[data-textarea]:empty:-ms-input-placeholder,
input[data-input]:empty:-moz-placeholder,
textarea[data-textarea]:empty:-moz-placeholder {
  color: rgba(0, 0, 0, .38);
}
