/* Links */
a,
a:link,
a:visited {
  color: #00BFA5;
  /*primary-color*/
  font-weight: 600;
}

a:active,
a:link:active,
a:visited:active {
  color: #007E85;
}

a:disabled,
a:disabled:link,
a:disabled:visited {
  color: #C3C3C3;
}

.app-menu a,
.app-menu a:link,
.app-menu a:visited,
.submenu-item {
  color: #333;
  font-size: 18px;
}

.app-menu a:active,
.app-menu a.active,
.app-menu a:active .icon,
.app-menu a.active .icon,
.submenu-item:active {
  color: #002B49;
  /*secondary-color*/
  font-weight: 700;
}

.app-menu .app-menu-links-bottom a,
.app-menu .app-menu-links-bottom a:link,
.app-menu .app-menu-links-bottom a:visited {
  font-size: 16px;
}

.app-menu .app-menu-links-bottom a .icon,
.app-menu .app-menu-links-bottom a:link .icon,
.app-menu .app-menu-links-bottom a:visited .icon {
  font-size: 20px;
  margin-left: 0px;
}

a .icon,
a:link .icon,
a:visited .icon {
  margin: -15px -5px;
}
