/* Links */
@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

a {
	color: $regular-alpha;
	//font-family: $latin-bold;

	&:link {
		color: $regular-alpha;
		//font-family: $latin-bold;

		&:active {
			color: $regular-beta;
		}

		.icon {
			margin: unset;
			padding: 8px 0;
		}
	}

	&:visited {
		color: $regular-alpha;
		//font-family: $latin-bold;

		&:active {
			color: $regular-beta;
		}

		.icon {
			margin: -15px -5px;
		}
	}

	&:active {
		color: $regular-beta;
	}

	&:disabled {
		color: $mid-light-grey;

		&:link {
			color: $mid-light-grey;
		}

		&:visited {
			color: $mid-light-grey;
		}
	}

	.icon {
		margin: -15px -5px;
	}
}

.app-menu {
	a {
		color: $dark-grey;
		font-size: $font-size-heading3;

		&:link {
			color: $dark-grey;
			font-size: $font-size-heading3;
		}

		&:visited {
			color: $dark-grey;
			font-size: $font-size-heading3;
		}

		&:active,
		&.active {
			color: $regular-beta;
			font-family: $latin-bold;

			.is-rtl & {
				font-family: $arabic-bold;
			}

			.icon {
				color: $regular-beta;
				font-family: $latin-bold;

				.is-rtl & {
					font-family: $arabic-bold;
				}
			}
		}
	}

	&-container {
		.sc {
			color: $regular-alpha;
		}
	}

	.app-menu-links-bottom {
		a {
			font-size: $font-size-heading4;
			padding-left: 20px;

			&:link {
				font-size: $font-size-heading4;

				.icon {
					font-size: $font-size-heading2;
					margin-left: 0px;
				}
			}

			&:visited {
				font-size: $font-size-heading4;

				.icon {
					font-size: $font-size-heading2;
					margin-left: 0px;
				}
			}

			.icon {
				font-size: $font-size-heading2;
				margin-left: 0px;
			}
		}
	}
}

.submenu-item {
	color: $dark-grey;
	font-size: $font-size-heading3;

	&:active {
		color: $sapphire-care-blue1;
		font-family: $latin-bold;

		.is-rtl & {
			font-family: $arabic-bold;
		}
	}
}
