/* Links */
@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

a {
  color: $regular-alpha;
  font-weight: 600;

  &:link {
    color: $regular-alpha;
    font-weight: 600;

    &:active {
      color: $regular-beta;
    }

    .icon {
      margin: -15px -5px;
    }
  }

  &:visited {
    color: $regular-alpha;
    font-weight: 600;

    &:active {
      color: $regular-beta;
    }

    .icon {
      margin: -15px -5px;
    }
  }

  &:active {
    color: $regular-beta;
  }

  &:disabled {
    color: $mid-light-grey;

    &:link {
      color: $mid-light-grey;
    }

    &:visited {
      color: $mid-light-grey;
    }
  }

  .icon {
    margin: -15px -5px;
  }
}

.app-menu {
  a {
    color: $dark-grey;
    font-size: 18px;

    &:link {
      color: $dark-grey;
      font-size: 18px;
    }

    &:visited {
      color: $dark-grey;
      font-size: 18px;
    }

    &:active,
    &.active {
      color: $sapphire-care-blue3;
      font-family: $latin-bold;

      .is-rtl & {
        font-family: $arabic-bold;
      }

      .icon {
        color: $sapphire-care-blue3;
        font-family: $latin-bold;

        .is-rtl & {
          font-family: $arabic-bold;
        }
      }
    }
  }

  .app-menu-links-bottom {
    a {
      font-size: $font-size-heading4;

      &:link {
        font-size: $font-size-heading4;

        .icon {
          font-size: $font-size-heading2;
          margin-left: 0px;
        }
      }

      &:visited {
        font-size: $font-size-heading4;

        .icon {
          font-size: $font-size-heading2;
          margin-left: 0px;
        }
      }

      .icon {
        font-size: $font-size-heading2;
        margin-left: 0px;
      }
    }
  }
}

.submenu-item {
  color: $dark-grey;
  font-size: 18px;

  &:active {
    color: $sapphire-care-blue3;
    font-family: $latin-bold;

    .is-rtl & {
      font-family: $arabic-bold;
    }
  }
}
