/* CustomTabs*/

@use '~Settings/colors';

.custom-tabs .tabs-header {
  background: colors.$sapphire-care-blue3;
  /*secondary-color*/
}

.custom-tabs .tabs-header-tab {
  color: #9CB4CE;
}

.custom-tabs .tabs-header-tab.active {
  color: colors.$sapphire-white;
}
