/* CustomTabs*/
.custom-tabs .tabs-header {
  background: #002B49;
  /*secondary-color*/
}

.custom-tabs .tabs-header-tab {
  color: #9CB4CE;
}

.custom-tabs .tabs-header-tab.active {
  color: #fff;
}
