/* CardAdvanced */
@use '~Settings/colors'as *;

.card-action {
  background-color: $regular-alpha;
  /*primary-color*/
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  opacity: .95;
}

.card-action.expand:before,
.card-action.expand:after {
  background: $mid-light-grey;
}
