@use '~Settings/fonts'as *;
@use '~Settings/colors'as *;

%information-section {
  [id*='Information'] {
    .section {
      height: 100%;
      min-height: 500px;
      min-height: -webkit-fill-available;
      padding-bottom: 30px;
      padding-top: 35px;
    }

    .section-title {
      color: $dark-grey;
      font-family: $latin-bold;
      font-size: $font-size-heading2;
      margin-bottom: 13px;

      .is-rtl & {
        font-family: $arabic-bold;
      }
    }

    .title {
      margin-bottom: 5px;
    }

    .cardInfo__label {
      color: $mid-light-grey;
    }

    .cardInfo__icon {
      font-size: 25px;
    }


  }
}
