@use '~Settings/colors'as *;

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.is-loading {
  //background-color: $light-grey;
  background-image: linear-gradient(to left, $light-grey, $sapphire-light);
  border: none;
  color: transparent;
  overflow: hidden;
  position: relative;

  .is-rtl & {
    background-image: linear-gradient(to right, $light-grey, $sapphire-light);
  }

  &::after {
    animation: loading 1.5s infinite;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    width: 100%;
  }

  +.is-loading {
    background-color: $light-grey;
  }
}
