/* Bottom-Bar */

@use '~Settings/colors';

.bottom-bar>a.active .bottom-bar-item-text,
.bottom-bar>a:active .bottom-bar-item-text,
.bottom-bar-items>a.active .bottom-bar-item-text,
.bottom-bar-items>a:active .bottom-bar-item-text,
.bottom-bar>a.active .bottom-bar-item-icon,
.bottom-bar>a:active .bottom-bar-item-icon,
.bottom-bar-items>a.active .bottom-bar-item-icon,
.bottom-bar-items>a:active .bottom-bar-item-icon {
  color: colors.$regular-alpha;
  /*primary-color*/
}

.floating-actions .bottom-bar-item {
  border-color: colors.$regular-alpha;
  /*primary-color*/
  color: colors.$regular-alpha;
  /*primary-color*/
}

.bottom-bar .floating-actions-items a,
.bottom-bar .floating-actions-items a:link,
.bottom-bar .floating-actions-items a:visited {
  color: colors.$regular-alpha;
  /*primary-color*/
}

.bottom-bar>a.active,
.bottom-bar>a:active {
  color: colors.$regular-alpha;
  /*primary-color*/
}

.search-round {
  -webkit-box-shadow: inset 0 0 0 3px colors.$sapphire-white;
  box-shadow: inset 0 0 0 3px colors.$sapphire-white;
}

.search-stick-bottom {
  background-color: colors.$sapphire-white;
}

.header-right .search-input {
  background-color: colors.$regular-alpha;
  /*primary-color*/
}
