@use '~Settings/colors'as *;

.animated-label-input input[data-input]:focus {
  border-bottom: 2px solid $regular-alpha;
  /*primary-color*/
}

.animated-label-input input[data-input]:focus {
  border: 0;
  border-bottom: 1px solid $regular-alpha;
  /*primary-color*/
}
