/* is-rtl arrows */
.is-rtl .fa-angle-left:before {
  content: "\e902";
}

.is-rtl .fa-angle-right:before {
  content: "\e903";
}

.is-rtl .app-menu-back .fa-angle-left:before,
.is-rtl .carousel-navigation .fa-angle-left:before {
  content: "\e902";
}

.is-rtl .carousel-navigation .fa-angle-right:before {
  content: "\e903";
}

.is-rtl [style^='text-align: right'] {
  text-align: left !important;
}

.is-rtl [style^='text-align: left'] {
  text-align: right !important;
}
