/* rounded-number */
.rounded-number {
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  width: 28px;
}
