// Colors
//
// .Alpha                 : #00BFA5 - $regular-alpha
// .Beta                  : #009884 - $regular-beta
// .Gamma                 : #006758 - $regular-gamma
// .Delta                 : #00433A - $regular-delta
// .Epsilon               : #56D3C2 - $regular-epsilon
// .Zeta                  : #C4F0EB - $regular-zeta
// .Eta                   : #F2FFFD - $regular-eta

// .Blue                  : #039BE5 - $regular-blue
// .LightBlue             : #C4F0EB - $light-blue
// .LightBlue2            : #F0FAF9 - $light-blue-2
// .DarkBlue              : #194968 - $dark-blue

// .Red                   : #FF3E2D - $regular-red
// .LightRed              : #FAD5D5 - $light-red
// .DarkRed               : #B10100 - $dark-red

// .Green                 : #7CB342 - $regular-green
// .LightGreen            : #C2DEA8 - $light-green
// .DarkGreen             : #578329 - $dark-green

// .Yellow                : #FBC02D - $regular-yellow
// .LightYellow           : #FFEAB5 - $light-yellow
// .DarkYellow            : #C19323 - $dark-yellow

// .Orange                : #FFA000 - $regular-orange
// .LightOrange           : #FCC891 - $light-orange
// .DarkOrange            : #C37B03 - $dark-orange

// .Pink                  : #C32B87 - $regular-pink
// .LightPink             : #C892B3 - $light-pink
// .LightPink2            : #FEECED - $light-pink-2
// .DarkPink              : #980263 - $dark-pink

// .Beige                 : #E6E2AA - $regular-beige
// .LightBeige            : #F5F4E0 - $light-beige
// .DarkBeige             : #928D09 - $dark-beige

// .White                 : #FFFFFF - $regular-white
// .BodyColor             : #F3F3F3 - $body-color
// .SapphireLightContainer: #EBEBEB - $sapphire-light
// .LightGrey             : #D6D6D6 - $light-grey
// .MidLightGrey          : #ADADAD - $mid-light-grey
// .Grey                  : #858585 - $regular-gray
// .MidDarkGrey           : #5C5C5C - $mid-dark-grey
// .DarkGrey              : #333333 - $dark-grey
// .Black                 : #131819 - $regular-black

// .SapphireBlue          : #2A5A6E - $sapphire-blue
// .SapphireDarkBlue      : #30384A - $sapphire-dark-blue
// .SapphireGreyBlue      : #494F5C - $sapphire-grey-blue

$regular-alpha: #00bfa5;
$regular-beta: #009884;
$regular-gamma: #006758;
$regular-delta: #00433a;
$regular-epsilon: #56d3c2;
$regular-zeta: #c4f0eb;
$regular-eta: #f2fffd;

$regular-beige: #e6e2aa;
$regular-black: #131819;
$regular-blue: #039be5;
$blue-light: #c4f0eb;
$light-blue-2: #f0faf9;
$blue-navy: #c4f0eb;
$body-color: #f3f3f3;
$regular-brow: #ca2c92;
$dark-beige: #928d09;
$dark-blue: #194968;
$dark-grey: #333333;
$dark-orange: #c37b03;
$dark-pink: #980263;
$dark-plum: #ca2c92;
$dark-red: #b10100;
$dark-green: #578329;
$dark-yellow: #c19323;
$regular-gray: #858585;
$regular-green: #7cb342;
$regular-grey: #858585;
$regular-light: #ca2c92;
$light-blue: #c4f0eb;
$light-green: #c2dea8;
$light-beige: #f5f4e0;
$light-grey: #d6d6d6;
$light-orange: #fcc891;
$light-pink: #ca2c92;
$light-red: #fad5d5;
$light-turquoise: #c4f0eb;
$light-yellow: #ffeab5;
$mid-light-grey: #adadad;
$mid-dark-grey: #5c5c5c;
$regular-orange: #ffa000;
$regular-pink: #c32b87;
$pink-light: #c892b3;
$light-pink-2: #feeced;
$regular-plum: #c32b87;
$regular-red: #ff3e2d;
$sapphire-background: #f3f3f3;
$sapphire-blue: #2a5a6e;
$sapphire-blue2: #00bfa5;
$sapphire-care-blue1: #0e4f7c;
$sapphire-care-blue2: #105c90;
$sapphire-care-blue3: #002b49;
$sapphire-care-red: #fa5252;
$sapphire-clinician: #d6d6d6;
$sapphire-dark-blue: #30384a;
$sapphire-dark-blue1: #333333;
$sapphire-dark-blue2: #30384a;
$sapphire-dark-grey: #858585;
$sapphire-dark-text: #333333;
$sapphire-grey-blue: #494f5c;
$sapphire-female: #c892b3;
$sapphire-inactive: #adadad;
$sapphire-light: #ebebeb;
$sapphire-light-board: #d6d6d6;
$sapphire-light-container: #ebebeb;
$sapphire-light-text: #f3f3f3;
$sapphire-light-text2: #ca2c92;
$sapphire-male: #194968;
$sapphire-silver: #f3f3f3;
$sapphire-warning: #ff3e2d;
$sapphire-white: #ffffff;
$regular-silver: #d6d6d6;
$transparent: #ca2c92;
$regular-turquoise: #049be5;
$regular-white: #fff;
$regular-yellow: #fbc02d;
$gray-darker: #333333;
$gray-light: #d6d6d6;
$gray-lighter: #f3f3f3;
