// Colors
//
// .Alpha                 : #00BFA5 - $regular-alpha
// .Beta                  : #00AC94 - $regular-beta
// .Gamma                 : #006758 - $regular-gamma
// .Delta                 : #00433A - $regular-delta
// .Epsilon               : #56D3C2 - $regular-epsilon
// .Zeta                  : #C4F0EB - $regular-zeta
// .Eta                   : #F2FFFD - $regular-eta

// .Blue                  : #039BE5 - $regular-blue
// .LightBlue             : #C4F0EB - $light-blue
// .LightBlue2            : #F0FAF9 - $light-blue-2
// .DarkBlue              : #194968 - $dark-blue

// .Red                   : #FF3E2D - $regular-red
// .LightRed              : #FAD5D5 - $light-red
// .DarkRed               : #B10100 - $dark-red

// .Green                 : #7CB342 - $regular-green
// .LightGreen            : #C2DEA8 - $light-green
// .DarkGreen             : #578329 - $dark-green

// .Yellow                : #FBC02D - $regular-yellow
// .LightYellow           : #FFEAB5 - $light-yellow
// .DarkYellow            : #C19323 - $dark-yellow

// .Orange                : #FFA000 - $regular-orange
// .LightOrange           : #FCC891 - $light-orange
// .DarkOrange            : #C37B03 - $dark-orange

// .Pink                  : #C32B87 - $regular-pink
// .LightPink             : #C892B3 - $light-pink
// .LightPink2            : #FEECED - $light-pink-2
// .DarkPink              : #980263 - $dark-pink

// .Beige                 : #E6E2AA - $regular-beige
// .LightBeige            : #F5F4E0 - $light-beige
// .DarkBeige             : #928D09 - $dark-beige

// .White                 : #FFFFFF - $regular-white
// .BodyColor             : #F3F3F3 - $body-color
// .SapphireLightContainer: #EBEBEB - $sapphire-light
// .LightGrey             : #D6D6D6 - $light-grey
// .MidLightGrey          : #ADADAD - $mid-light-grey
// .Grey                  : #858585 - $regular-gray
// .MidDarkGrey           : #5C5C5C - $mid-dark-grey
// .DarkGrey              : #333333 - $dark-grey
// .Black                 : #131819 - $regular-black

// .SapphireBlue          : #2A5A6E - $sapphire-blue
// .SapphireDarkBlue      : #30384A - $sapphire-dark-blue
// .SapphireGreyBlue      : #494F5C - $sapphire-grey-blue

$regular-alpha: #00bfa5;
$regular-beta: darken($regular-alpha, 4%);

$sapphire-care-blue1: #0e4f7c;

$dark-blue: #194968;
$dark-grey: #333333;
$dark-orange: #c37b03;
$dark-pink: #980263;
$dark-red: #b10100;
$dark-green: #578329;
$dark-yellow: #c19323;

$light-blue: #c4f0eb;
$light-green: #c2dea8;
$light-beige: #f5f4e0;
$light-grey: #d6d6d6;
$light-orange: #fcc891;
$light-pink: #ca2c92;
$light-red: #fad5d5;
$light-yellow: #ffeab5;

$mid-light-grey: #adadad;
$mid-dark-grey: #5c5c5c;

$sapphire-care-red: #fa5252;
$sapphire-light: #ebebeb;
$sapphire-white: #ffffff;

$regular-red: #ff3e2d;
$regular-white: #fff;
$regular-yellow: #fbc02d;
$regular-beige: #e6e2aa;
$regular-black: #131819;
$regular-blue: #039be5;
$regular-gray: #858585;
$regular-green: #7cb342;
$regular-orange: #ffa000;
$regular-pink: #c32b87;

$skeleton-color: linear-gradient(to left, $light-grey, $sapphire-light);
$skeleton-color-arabic: linear-gradient(to right, $light-grey, $sapphire-light);
