$font-family-latin-regular: 'LatoRegular';
$font-family-latin-bold: 'LatoBold';
$font-family-arabic-regular: 'TajawalRegular';
$font-family-arabic-bold: 'TajawalBold';
$font-family-icons: 'Sapphire-Icon-Font';

/* Font base: 14px */
$font-size-huge: 2.249em; // 34px
$font-size-big: 2.143em; // 30px
$font-size-heading1: 1.714em; // 24px
$font-size-heading2: 1.429em; // 20px
$font-size-heading3: 1.143em; // 16px
$font-size-heading4: 1.071em; // 15px
$font-size-normal: 1em; // 14px
$font-size-regular: 1em; // 14px
$font-size-small: 0.857em; // 12px
$font-size-tiny: 0.786em; // 11px