@use '~Settings/colors'as *;

.background-green_S,
.background-white_S {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;

	img {
		height: auto;
		width: 100%;
	}
}

.background-green_S {
	background-color: $sapphire-care-blue1;
}

.background-white_S {
	background-color: $sapphire-white;
}
