/* Wizard */

@use '~Settings/colors'as *;

.wizard {
	left: 0;
	position: fixed;
	top: 100px;
	width: 100%;
	z-index: 1;

	.wizard-item-wrapper {
		&.active,
		&.past {
			.wizard-item {
				background-color: $regular-alpha;
				opacity: 1;
			}
		}

		&.active {
			.wizard-label {
				color: $regular-alpha;
				/*primary-color*/
			}
		}

		&:before {
			display: none;
		}

		.wizard-item {
			background-color: $light-grey;
			border-radius: unset;
			height: 6px;
			width: 100%;
		}
	}
}

// .wizard-item-wrapper .wizard-item-wrapper.past .wizard-item {
//   background-color: $regular-gray;
//   opacity: 1;
// }

// .wizard-item-wrapper.active .wizard-item {
//   background-color: $regular-alpha;
//   /*primary-color*/
// }

// .wizard-item-wrapper:before {
//   display: none;
// }

// .wizard-item-wrapper.past .wizard-label {
//   color: $regular-gray;
// }

// .wizard-item-wrapper .wizard-label {
//   font-size: 12px;
// }
