/* Wizard */

@use '~Settings/colors';

.wizard-item-wrapper.active .wizard-label {
  color: colors.$regular-alpha;
  /*primary-color*/
}

.wizard-item-wrapper .wizard-item {
  border-radius: 0;
  height: 10px;
  width: calc(100% - 1px);
}

.wizard-item-wrapper.past .wizard-item {
  background-color: colors.$regular-grey;
  opacity: 1;
}

.wizard-item-wrapper.active .wizard-item {
  background-color: colors.$regular-alpha;
  /*primary-color*/
}

.wizard-item-wrapper:before {
  display: none;
}

.wizard-item-wrapper.past .wizard-label {
  color: colors.$regular-grey;
}

.wizard-item-wrapper .wizard-label {
  font-size: 12px;
}
