/* Section Expandable*/
.section-expandable {
  background-color: white;
  border-bottom: 1px solid #e4e4e4;
  border-collapse: collapse;
}

.section-expandable-title {
  padding: 15px 15px 10px;
}

.section-expandable-title .dividers {
  color: #333;
}

.section-expandable.open .section-expandable-title .dividers {
  color: #00BFA5;
  /*primary-color*/
}

.section-expandable-content {
  padding: 10px 15px 15px;
}

[data-block="Blocks.SectionExpandable"]+[data-block="Blocks.SectionExpandable"] .section-expandable {
  border-top: 0;
}

.section-expandable-icon:before,
.section-expandable-icon:after {
  background: rgba(0, 0, 0, 0.38);
  height: 9px;
  width: 2px;
}
