@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

$marginContainers:15px;
$line-height:1.3rem;
$max-lines:3;

%Isloding {
  .is-loading & {
    background-color: $light-grey;
    color: transparent;
  }
}

.generic-card {
  align-items: center;
  background-color: $sapphire-white;
  border-radius: 10px;
  height: 130px;
  padding: 25px 15px;



  &.image {
    align-items: center;
    display: flex;

    .generic-card__image {
      margin-right: $marginContainers;

      .is-loading & {
        background-color: $light-grey;

        img {
          visibility: hidden;
        }
      }

      .is-rtl & {
        margin-left: $marginContainers;
        margin-right: unset;
      }

      div[id*='ImagePlaceholder'] {
        width: 80px;
      }

    }

    .generic-card__news {
      display: block;

      .title,
      .date {
        @extend %Isloding;
      }

    }
  }



  &.twitter {
    background-color: $regular-blue;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 10px;
    color: $sapphire-white;
    display: flex;
    left: -$marginContainers;
    max-width: 350px;
    position: relative;

    .is-loading & {
      background-color: $sapphire-white;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      color: transparent;
      max-width: unset;
      position: static;

    }

    @media (orientation: landscape) {
      max-width: 100%;
    }

    .generic-card__news {
      display: block;


      .title,
      .date {
        color: $sapphire-white;
        @extend %Isloding;

      }

    }

  }

  .generic-card__icon {
    margin-right: $marginContainers;

    @extend %Isloding;
  }

  .generic-card__news {
    display: flex;



    .news__container {
      max-height:calc(#{$line-height} * #{$max-lines});
      overflow: hidden;
      position: relative;

      &::before {
        bottom: 0;
        content: "...";
        position: absolute;
        right: 0;
      }


      .title {
        font-size: $font-size-heading4;
      }

      .title,
      .date {
        font-family: $latin-bold;

        .is-rtl & {
          font-family: $arabic-bold;
        }


        @extend %Isloding;
      }


    }

  }

  .date {
    color: $mid-light-grey;
    display: flex;

    @extend %Isloding;

    .clock {
      margin-right: 5px;

      @extend %Isloding;
    }
  }

}
