/* OnBoarding */

@use '~Settings/colors'as *;

.onboarding {

  -servicestudio-height: auto;
  height: 100vh;

  .onboarding-img {
    width: 130px;
  }
}

.onboarding:before {
  background-color: $regular-alpha;
  /*primary-color*/
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 70%;
  content: "";
  height: calc(25vh + 30px);
  left: -60px;
  position: absolute;
  top: 0;
  width: calc(100% + 120px);
}

.onboarding .carousel-container {
  width: 100%;
}

.onboarding .carousel .carousel-item {
  position: relative;
}

.onboarding-top {

  -servicestudio-position: relative;
  position: absolute;
  -servicestudio-right: auto;
  right: 25px;
  -servicestudio-top: auto;
  top: 15px;
  z-index: 1;
}

.onboarding-bottom {
  -servicestudio-bottom: auto;
  bottom: 20px;
  -servicestudio-left: auto;
  left: 25px;

  -servicestudio-position: relative;
  position: absolute;
  -servicestudio-right: auto;
  right: 25px;
  z-index: 1;
}

.onboarding-top a.hide,
.onboarding-bottom .over-dots.hide {

  -servicestudio-opacity: 1;
  opacity: 0;
  -servicestudio-pointer-events: initial;
  pointer-events: none;
}

.onboarding-bottom .over-dots {

  -servicestudio--webkit-transform: none;
  bottom: -5px;
  opacity: .6;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.onboarding-bottom .onboarding--prev-button,
.onboarding-bottom .onboarding--next-button,
.onboarding-bottom .onboarding--start-button {

  -servicestudio-position: relative;
  position: absolute;
  top: 0;
}

.onboarding-bottom .onboarding--prev-button {
  left: 0;
}

.onboarding-bottom .onboarding--start-button,
.onboarding-bottom .onboarding--next-button {
  right: 0;
}

.onboarding-bottom a.hide {

  -servicestudio-display: inline-block;
  display: none;
}

/* Dots navigation customization */
.onboarding .carousel .carousel-dots-container {
  bottom: 15px !important;
}

.onboarding .carousel .carousel-dots-container .carousel-dot {
  background-color: $mid-light-grey;
  height: 8px;
  width: 8px;
}

.onboarding .carousel .carousel-dots-container .carousel-dot.active {
  background-color: $regular-alpha;
  /* primary-color */
}

.onboarding .carousel-item .center-content-container {
  align-items: flex-start;
  -webkit-box-align: start;
  -servicestudio-padding: 10px 0;
  padding: 15vh 0;
}

.onboarding .carousel-item .onboarding-content {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 80%;
}

.onboarding .onboarding-img img {
  display: inline-block;
  max-height: 50vh;
  width: auto;
}

.onboarding .onboarding-text {
  padding-top: 40px;
}

/* Carousel landscape adaptation - vertical */
.landscape .onboarding .onboarding-content .onboarding-img {
  margin-top: 10px;
}

.landscape .onboarding .onboarding-content .onboarding-img img {
  width: 40vh;
}

.landscape .onboarding .onboarding-content {

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  height: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
