@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;
@use '~Tools/arrow-left-arabic'as *;
@use '~Tools/card-profile-image'as *;

.cardInfo {
  height: 110px;

  &.no-label {
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0;
  }

  &__label {
    color: $regular-grey;
    margin-bottom: 20px;

    @media screen and (max-width:320px) {
      margin-bottom: 5px;
    }
  }

  &__container {
    display: flex;

    .cardInfo__content__wrapper {
      width: 100%;

      .cardInfo__title {
        font-family: $latin-bold;
        font-size: $font-size-heading4;

        .is-rtl & {
          font-family: $arabic-bold;
        }
      }

      .cardInfo__content {
        color: $regular-grey;
      }

    }

    .cardInfo__icon {
      align-items: flex-start;
      color: $regular-grey;
      display: flex;
      font-size: 20px;
      margin-right: 15px;

      .is-rtl & {
        margin-left: 15px;
        margin-right: unset;
      }
    }

    .cardInfo__link {
      color: $light-grey;
      font-size: 30px;
      text-align: right;

      @extend %arrow-left;
    }

    .cardInfo__image {
      @include cardImageSize(50px, $regular-alpha)
    }
  }

}
