@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

$height:100px;

[id*='Request__Appointment'] {
  .header {
    height: $height;
  }

  .section-title {
    margin-bottom: 10px;
  }

  .search {
    margin-bottom: 20px;
  }

  // .wizard {
  //   left: 0;
  //   position: fixed;
  //   top: $height;
  //   width: 100%;
  //   z-index: 1;

  //   .wizard-item-wrapper {

  //     &.active,
  //     &.past {
  //       .wizard-item {
  //         background-color: $regular-alpha;
  //       }
  //     }

  //     .wizard-item {
  //       background-color: $light-grey;
  //       height: 6px;
  //       width: 100%;
  //     }

  //   }


  // }

  .list-item {
    padding: 15px 0;
  }

  .content {
    background: $sapphire-white;
  }


  [id*='SearchContainer'] {
    .section {
      margin-top: 30px;

      .section-title {
        font-family: $latin-bold;
        font-size: $font-size-heading2;

        .is-rtl & {
          font-family: $arabic-bold;
        }
      }
    }
  }


  [id*='Doctor__Section'] {


    .card-profile__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .card-profile__title {
        color: $dark-grey;
        font-size: $font-size-heading4;
      }

    }

    .card-profile__info {
      color: $light-grey;
    }
  }

  [id*='Calendar__Section'] {
    a.select-date {
      display: block;
    }
  }

  [id*='Summary__Section'] {

    [id*='Summary__TextContainer'] {
      margin-bottom: 40px;
      margin-top: 15px;

      .summary__section--text {
        color: $mid-light-grey;
        line-height: 20px;
        margin-bottom: 40px;
      }
    }

    .cardInfo {
      border-bottom: 1px solid $light-grey;
      height: auto;
      margin-bottom: 20px;

      .cardInfo__label {
        color: $mid-light-grey;
      }

      .cardInfo__link {
        color: $regular-alpha;
        font-size: 20px;
      }
    }

    .requiered-documents {
      .title {
        align-items: center;
        display: flex;
        font-size: $font-size-heading4;
        margin-bottom: 15px;

        :nth-child(2) {
          font-family: $latin-bold;
          margin-left: 5px;

          .is-rtl & {
            font-family: $arabic-bold;
          }
        }

      }

      .info-message {
        color: $mid-light-grey;
        line-height: 20px;
        margin-bottom: 15px;

      }

      .list-content {
        margin-bottom: 15px;

        .content {
          align-items: center;
          display: flex;
          flex-direction: row;

          :first-child {
            flex: 1;
          }

          :nth-child(-n+2) {
            flex: 2;
          }
        }
      }
    }
  }

}
