@use '~Settings/fonts'as *;

#AppointmentList {
  .section {
    .section-title {
      font-family: $latin-bold;
      font-size: $font-size-heading2;
    }

    .section {
      padding: 0;
    }
  }

  .list-item {
    border: none;
  }

  #Scheduled {
    .section {
      margin-bottom: 20px;
    }
  }
}
