@use '~Tools/information-section'as *;
@use '~Settings/colors'as *;

[id*='AppointementDetail'] {
  .section {

    .section-title {
      color: $sapphire-white;

      .Date__Container {
        margin: 0;
      }

      .RemainDays {
        font-size: 12px;
      }
    }

  }

  @extend %information-section;

  [id*='Check_In'] {
    .section {
      background-color: $sapphire-white;
      padding-top: 35px;
    }
  }

  [id*='Information'] {
    .section {
      height: auto;
      padding-bottom: 10px;
      padding-top: 0;
    }
  }

  [id*='Reschedule'] {
    .section {
      background-color: $sapphire-white;
      padding-bottom: 25px;

      .reschedule__btn,
      .reschedule__cancel {
        align-items: center;
        display: flex;
        height: 48px;
        justify-content: center;
      }

      .reschedule__btn {
        margin-bottom: 15px;

        .btn {
          align-items: center;
          border-radius: 24px;
          color: $sapphire-white;
          display: flex;
          width: 100%;
        }

      }

    }


  }
}
