@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

[id*='Change_Pwd'] {
  .main-content {
    background-color: $sapphire-white;

    .form-fieldSet {
      margin-top: 25px;
    }

    .change-password {


      .info-message {
        color: $regular-grey;

        :first-child {
          font-size: $font-size-normal;
        }
      }
    }
  }

}
