@use '~Settings/fonts'as *;
@use '~Settings/colors'as *;

[id*='Information'] {
  .section {
    background-color: $sapphire-white;
    padding-top: 10px;


    div[data-block*='CardInfo'] {
      .cardInfo {
        border-bottom: 1px solid $light-grey;
        margin-bottom: 20px;
      }

    }
  }
}
