@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

[id*='ExamDetail'] {
  .Title_Value {
    color: $sapphire-white;
  }

  [id*='ExamDetailHeader'] {
    .section {
      padding-bottom: 35px;
    }

    .section-title {
      font-size: $font-size-normal;
    }

    .Title__container {
      margin-bottom: 5px;
    }


    .Exam__Container {
      font-family: $latin-regular;
      margin-top: 30px;

      .is-rtl & {
        font-family: $arabic-regular;
      }

      >div {
        flex: 1;
      }

      >div:nth-child(2) {
        .cardInfo__container {
          .cardInfo__content {
            font-family: $latin-regular;
            font-size: $font-size-heading4;
            opacity: 1;

            .is-rtl & {
              font-family: $arabic-regular;
            }
          }
        }
      }

      .cardInfo {

        &__label,
        &__container {

          color: $sapphire-white;
          //font-size: $font-size-heading4;

          .card__info,
          .cardInfo__content {
            color: $sapphire-white;
          }

          .cardInfo__content {
            opacity: 0.6;
          }


        }

        &__label {
          font-size: $font-size-heading4;
        }

        &__container {
          .cardInfo__icon {
            color: $sapphire-white;
          }

          .cardInfo__content__wrapper {
            .title {
              color: $sapphire-white;
              font-size: $font-size-heading4;
            }
          }
        }



        .cardInfo__label {
          //ont-size: $font-size-heading4;
          font-family: $latin-regular;
          margin-bottom: 10px;

          .is-rtl & {
            font-family: $arabic-regular;
          }
        }

        .cardInfo__icon {
          font-size: 20px;
          margin-right: 5px;
        }

      }


    }


  }

  [id*='ExamResults'] {
    .section {
      background-color: $sapphire-white;
      height: 100%;
      min-height: 500px;
    }
  }

  [id*='SearchContainer'] {
    .section {
      padding-top: 25px;
    }
  }
}
