@use '~Settings/colors'as *;

[id*='HospitalAndServiceList'] {
	.search {
		margin-bottom: 20px;
	}

	[id*='HospitalListContent'] {
		.card-image-top {
			margin-bottom: 20px;

			.card-image-top-actions-wrapper {
				padding: 10px 0;
			}

			.card-image-top-actions-wrapper-act {
				color: $light-grey;
				padding: 0;

				&:nth-of-type(-n + 4):not(:first-child) {
					border-left: 1px solid;
				}
			}
		}
	}
}
