@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;
@use '~Tools/card-profile-image'as *;

[id*='HospitalDetailHeader'] {


  .DetailHeader {

    .section-title {
      color: $sapphire-white;
      font-size: 14px;

      .Title__Container {
        margin-bottom: 5px
      }

      .SubTitle__Container {
        display: flex;
        flex-direction: column;
        font-family: $latin-regular;
        font-size: $font-size-normal;


        :nth-child(1) {
          margin-bottom: 10px;
        }

        .is-rtl & {
          font-family: $arabic-regular;
        }
      }
    }

  }

}

[id*='DoctorsSpeciality'] {
  .section {
    background-color: $sapphire-white;
    height: 100vh;
    padding-bottom: 30px;
    padding-top: 35px;

    .list-item {
      padding: 15px 0;
    }

    .card-profile {
      display: flex;

      .card-profile__image {
        @include cardImageSize(56px)
      }

      .card-profile__content {

        .card-profile__title__container {

          .card-profile__title {
            color: $dark-grey;
            font-size: $font-size-heading4;
          }
        }

        .card-profile__info {
          color: $mid-light-grey
        }

        .cardInfo__label,
        .bio__title {
          font-size: $font-size-heading2;
        }
      }
    }
  }
}
