@use '~Tools/background-gradient'as *;
@use '~Settings/colors'as *;
@use '~Tools/card-profile-image'as *;

div[id*='MenuHeader'] {
  .section {
    @include backgroundGradient;
    padding: 30px 15px;
  }

  .card-profile__image {
    @include cardImageSize()
  }

  .card-profile__bottom-badge {
    border: 1px solid $regular-alpha;
    border-radius: 4px;
    color: $regular-alpha;
    display: inline-block;
    margin-top: 20px;
    padding: 2px 10px;
    width: fit-content;
  }
}
