@use '~Settings/colors'as *;

[id*='Notifications'] {

  .list {
    background: transparent;
  }

  .cardInfo {

    &.disabled {
      .title {
        color: $regular-alpha;
      }
    }

    .cardInfo__container {
      align-items: center;
      border-bottom: 1px solid $light-grey;
      justify-content: center;
      min-height: 80px;
      padding-bottom: 10px;
    }
  }

}
