@use '~Tools/background-gradient'as *;
@use '~Settings/fonts'as *;
@use '~Settings/colors'as *;
@use '~Tools/information-section'as *;


[id*='PrescriptionDetail'] {
  .section-title {
    color: $sapphire-white;

    [id*='DrugName'] {
      font-size: 1.714rem;
    }

    [id*='DrugMg'],
    [id*='Date'] {
      font-family: $latin-regular;
      font-size: 1rem;

      .is-rtl & {
        font-family: $arabic-regular;
      }
    }



  }

  [id*='PrescriptionSquares'] {

    .section {
      padding-bottom: 20px;
      padding-top: 5px;

      .tabs-header {
        margin-bottom: 25px;

        .tabs-header-tab {
          color: $sapphire-white;
          font-family: $latin-regular;

          .is-rtl & {
            font-family: $arabic-regular;
          }

          &.active {
            font-family: $latin-bold;

            .is-rtl & {
              font-family: $arabic-bold;
            }
          }
        }
      }

      [data-block*='SapphireCare_Patterns.CardPrescription'] {
        flex: 1;

        margin: 0 7px 0 7px;

        &:first-child {
          margin-left: 0;

          .is-rtl & {
            margin-left: 7px;
            margin-right: 0;
          }
        }

        &:last-child {
          margin-right: 0;

          .is-rtl & {
            margin-left: 0;
            margin-right: 7px;
          }
        }
      }

      .period__row:first-of-type {
        margin-bottom: 15px;
      }

      .card-prescription {
        @media screen and (max-width:576px) {
          display: block;
          font-size: $font-size-small;
          padding: 10px;
          word-break: break-word;
        }
      }

      .card-prescription__icon {
        font-size: 20px;
        left: -5px;
        margin: 0;
        position: relative;

        .is-rtl & {
          right: -5px;
        }
      }
    }

  }

  [id*='List_MedicationInfoHeader'] {
    display: contents;

    >div {
      display: contents;
    }
  }

  [id*='DosageInformation'] {
    .section {
      padding-bottom: 0;
    }

    .list {

      [data-block*='_ListItem']:last-of-type {
        .dosage-info__list-item {
          margin: 0;
        }

      }

    }
  }

  @extend %information-section;



}

@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {
  [id*='PrescriptionDetail'] {


    [id*='PrescriptionSquares'] {
      .section {
        .tabs-header {
          margin-bottom: 15px;

          .tabs-header-tab {
            padding: 5px;
          }
        }

        .card-prescription {
          height: 80px;
          padding: 5px;
        }
      }
    }

    [id*='Information'] {
      .section {
        padding-bottom: unset;
        padding-top: 5px;

        .cardInfo {
          height: auto;
          padding-bottom: 10px;
        }
      }
    }

  }

}
