@use '~Tools/background-gradient'as *;
@use '~Settings/fonts'as *;
@use '~Settings/colors'as *;
@use '~Tools/information-section'as *;


[id*='PrescriptionDetail'] {
  .section-title {
    color: $sapphire-white;

    [id*='DrugName'] {
      font-size: 1.714rem;
    }

    [id*='DrugMg'],
    [id*='Date'] {
      font-family: $latin-regular;
      font-size: 1rem;
    }



  }

  [id*='PrescriptionSquares'] {

    .section {
      padding-bottom: 30px;
      padding-top: 20px;

      .tabs-header {
        margin-bottom: 25px;

        .tabs-header-tab {
          color: $sapphire-white;
          font-family: $latin-regular;

          &.active {
            font-family: $latin-bold;
          }
        }
      }

      [data-block*='SapphireCare_Patterns.CardPrescription'] {
        flex: 1;

        margin: 0 7px 0 7px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .period__row:first-of-type {
        margin-bottom: 15px;
      }

      .card-prescription__icon {
        font-size: 20px;
        left: -5px;
        margin: 0;
        position: relative;
      }
    }

  }



  @extend %information-section;
}
