@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

[id*='Profile'] {

  [id*="MandatoryLabel"] {
    display: flex;
    margin-bottom: 10px;

    .form-input__asterisk {
      color: $regular-red;
      margin-right: 5px;
    }
  }

  [id*='Address'] {

    [id*='BuildingInfo'],
    [id*='FloorInfo'] {
      display: flex;

      >div {
        flex: 1;
      }

      [id*='BlockINumber'],
      [id*='Floor'] {
        margin-right: 20px;
      }
    }

  }

  [id*='NotificationPreferences'] {
    .form-fieldSet__content {

      >div {
        border-bottom: 1px solid $light-grey;
        display: flex;
        margin-bottom: 20px;
      }
    }

    [id*='Checkbox'] {
      flex: 1;

      .form-input__input {
        align-items: center;
        display: flex;
      }

    }
  }

  [id*="SaveButton"] {
    padding-bottom: 20px;
  }


}

[id*='ProfileHeader'] {

  .card-profile {
    margin-bottom: 30px;
  }

  .profile__cardInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    width: 100%;

    div[data-block*="CardPrescription"] {
      flex: 1;
    }

    div[data-block*="CardPrescription"]:nth-of-type(even) {
      margin: 0 15px;
    }


    .card-prescription {
      justify-content: space-around;
      text-align: center;

      .card-prescription__title {


        >span {
          white-space: nowrap;
        }

      }

      .card-prescription__content {
        justify-content: center;

        .card-prescription__icon,
        .card-prescription__text {
          color: $regular-alpha;
          font-size: $font-size-heading2;
        }
      }
    }
  }
}

[id*='ProfileInfo'] {
  .section {
    background-color: $sapphire-white;
    padding-top: 35px;

    [data-block*='CardInfo'] {
      background-color: lime;

      &:last-of-type {
        background-color: red;

        .cardInfo.no-label {
          margin: 0;
          padding-bottom: 30px;

        }
      }


    }

    .cardInfo__label {
      font-size: $font-size-heading2;

    }

    .cardInfo {
      border-bottom: 1px solid $light-grey;
    }
  }
}
