@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;


[id*='RecoverPassword'] {
  .main-content {
    background-color: $sapphire-white;

    .section {
      height: 100%;

      .section-title {
        padding: 25px 0;
      }

      .info-message {
        color: $regular-grey;
        margin: 25px 0;

        :first-child {
          font-size: $font-size-normal;
          margin-bottom: 10px;
        }
      }


      .button-container {
        margin-top: 30px;
      }


    }

  }
}
