/* Custom Pattern - MarginContainer_RoundBg */
.margin-container-round-bg {
  background: #fff;
  position: relative;
}

div[data-block="SapphireCare_Patterns.MarginContainer_RoundBg"] {
  display: block;
}

.mc-round-bg-top-content {
  padding: 15px 15px;
}

.mc-round-bg-top-content:before {
  background: #002b49;
  /*secondary-color*/
  border-radius: 0 0 10% 10%;
  content: "";
  height: 165px;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  z-index: 0;
}

.mc-round-bg-top-content>div {
  position: relative;
  z-index: 2;
}

.mc-round-bg-bottom-content {
  padding: 15px 15px;
  position: relative;
  z-index: 1;
}

.mc-round-bg-bottom-content .card-two-cols-big {
  padding: 0;
}

.mc-round-bg-bottom-content .card-two-cols-big-left-icon,
.mc-round-bg-bottom-content .card-two-cols-big-right-icon {
  font-size: 48px;
  line-height: 52px;
}
