/* Custom Pattern - Full page Feedback */
@use '~Settings/colors'as *;

.fullpage-feedback {
  -servicestudio-background: $regular-alpha;
  background: $sapphire-white;
  /*primary-color*/
  bottom: 0;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -servicestudio-color: $sapphire-white;
  color: $dark-grey;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  /*position: fixed;*/
  height: 100%;
  justify-content: space-between;
  left: 0;
  padding: 80px 45px 40px;
  -servicestudio-position: relative;
  right: 0;
  top: 0;
}

.fullpage-feedback.bg-colored {
  background: $regular-alpha;
  /*primary-color*/
  color: $sapphire-white;
}


.fullpage-feedback-top-icon {
  padding-bottom: 30px;
  text-align: center;
}

.fullpage-feedback-top-icon .sc {
  font-size: 110px;
  line-height: 110px;
}

.fullpage-feedback-top-icon.large-icon .sc {
  font-size: 300px;
}

.fullpage-feedback-top-content {
  height: 60%;
  position: relative;
}

.fullpage-feedback-bottom-content {
  padding-top: 70px;
}
