/* Custom Pattern - ImageBackground */

@use '~Settings/colors'as *;

.image-bg {
	min-height: 100px;
	position: relative;
}

.image-bg-img {
	position: relative;
}

.image-bg-img:after {
	background-color: $sapphire-care-blue1;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.image-bg-title {
	bottom: 0;
	bottom: 20px;
	color: $sapphire-white;
	font-size: 20px;
	left: 15px;
	position: absolute;
	right: 15px;
}
