/* Custom Pattern - ImageBackground */
.image-bg {
  min-height: 100px;
  position: relative;
}

.image-bg-img {
  position: relative;
}

.image-bg-img:after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 43, 73, 0)), to(#002b49));
  background: -webkit-linear-gradient(top, rgba(0, 43, 73, 0) 0%, #002b49 100%);
  background: -o-linear-gradient(top, rgba(0, 43, 73, 0) 0%, #002b49 100%);
  background: linear-gradient(180deg, rgba(0, 43, 73, 0) 0%, #002b49 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-bg-title {
  bottom: 0;
  bottom: 20px;
  color: #fff;
  font-size: 20px;
  left: 15px;
  position: absolute;
  right: 15px;
}
