.period {

  &__row {
    display: flex;
    justify-content: space-between;

    .is-loading {
      display: block;
    }

    &.double {
      .CardInfo__Container {
        padding: 25px;
      }
    }
  }
}
