@use '~Settings/fonts'as *;

.salute {
  .salute__hello {
    font-family: $latin-regular;
    font-size: $font-size-heading2;
  }

  .salute__patient-name {
    font-family: $latin-bold;
    font-size: $font-size-big;
  }
}
