/* Tooltip */
@use '~Settings/colors';

.tooltip-wrapper {
  background-color: colors.$sapphire-white;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, .32);
  color: colors.$dark-;
  font-size: 14px;
  padding: 5px 15px;
}

.tooltip-wrapper.top:after {
  border-top-color: colors.$sapphire-white;
}

.tooltip-wrapper.bottom:after {
  border-bottom-color: colors.$sapphire-white;
}

.tooltip-wrapper.right:after {
  border-right-color: colors.$sapphire-white;
}

.tooltip-wrapper.left:after {
  border-left-color: colors.$sapphire-white;
}
