/* Carousel */
@use '~Settings/colors';

.owl-theme .owl-nav [class*="owl-"] {
  color: colors.$sapphire-white;
  font-size: 34px;
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.carousel .carousel-navigation i {
  color: colors.$sapphire-white;
  font-size: 36px;
}
