/* Carousel */
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 34px;
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.carousel .carousel-navigation i {
  color: #fff;
  font-size: 36px;
}
