@use '~Settings/colors'as *;
@use '~Tools/background-gradient'as gradient;
@use '~Tools/remaining-days'as *;
@use '~Tools/loading-skeleton'as *;

%IsLoading {
  .is-loading & {
    background-color: transparent;
    background-image: unset;
    border: none;
    color: transparent;
  }
}

.appointment-card {
  @include gradient.backgroundGradient;
  border-radius: 10px;
  box-shadow: 2px 8px 6px 2px rgba(0, 0, 0, 0.1);
  color: $sapphire-white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 184px;
  //max-width: 320px;
  padding: 0 15px;
  padding-bottom: 12px;
  padding-top: 18px;
  position: relative;
  width: 100%;

  @extend %IsLoading;

  &.requested {
    background-color: $sapphire-white;
    background-image: none;
    color: $dark-grey;

    .is-loading & {
      background-color: transparent;
      background-image: unset;
      border: none;
      color: transparent;
    }

    .appointment-card__title--container {
      color: $regular-alpha;

      .is-loading & {
        color: transparent;
      }

      .appointment-card--subtitle {
        color: $dark-grey;
      }

    }

    .appointment-card--subtitle {
      color: $mid-light-grey;

    }

    .appointment-card__timeto {
      display: none;
    }

    .photo {
      img {
        border-color: $mid-light-grey;
      }
    }

    .cancel_requested__bar-container {
      height: 100%;
      left: 5px;
      padding: 15px 0;
      position: absolute;
      top: 0;

      .is-loading & {
        display: none;
      }

      .is-rtl & {
        right: 5px;
      }

      .cancel_requested__bar {

        height: 100%;
        width: 2px;

        &.red {
          background-color: $regular-red;
        }

        &.grey {
          background-color: $regular-grey;
        }
      }
    }



    .appointment-card__row {
      &:nth-of-type(2) {
        border-top: none;
        flex: 2;
      }

      &:nth-of-type(3) {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        flex: 1;

        .is-loading & {
          border-top: none;
        }

      }
    }

  }

  &.main-account {
    .photo {
      img {
        border: 2px solid $regular-alpha;

      }

    }
  }

  &__row {
    display: flex;
    flex: 2;
    position: relative;

    &:nth-of-type(2) {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      flex: 1;

      .is-loading & {
        border-top: none;
      }
    }
  }

  &__row &__title {
    @media (orientation: portrait) {
      flex: 2;

    }

    flex:1;
    white-space: nowrap;
  }

  &__timeto,
  &__location,
  &__date {
    flex: 1;
  }

  &__title--icon {
    align-items: flex-start;
    display: flex;
    margin-right: 5px;

    .is-rtl & {
      margin-left: 5px;
      margin-right: unset;
    }
  }



  &__location,
  &__date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (orientation: landscape) {
      align-items: center;
    }

    .appointment-card__title--wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .appointment-card__title--subtitle {
      font-weight: bold;
    }
  }

  &__location {
    margin-right: 5px;
  }

  &__date {
    margin-left: 5px;
    ;
  }

  &__title--container {
    display: flex;

    @media (orientation: landscape) {
      justify-content: center;
    }


    >.appointment-card__title--icon {
      font-size: 22px;
    }
  }

  &__Title--wrapper {

    .appointment-card__title--title {
      font-size: 22px;
      font-weight: bold;
      line-height: 24px;
    }



  }

  &__photo-container {
    text-align: right;

    .photo {
      img {
        border-color: $mid-light-grey;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }

    }
  }

  &__timeto {
    @include remainDays;

    .is-loading & {
      display: none;
    }
  }

  &__photo-container+&__timeto {
    bottom: -12px;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}
