@use '~Settings/colors'as *;
@use '~Tools/background-gradient'as gradient;
@use '~Tools/remaining-days'as *;

.MedicalCard {
  &__Container {
    @include gradient.backgroundGradient;
    border-radius: 10px;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.1);
    color: $sapphire-white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 173px;
    //max-width: 320px;
    padding: 0 15px;
    padding-bottom: 12px;
    padding-top: 18px;
    width: 100%;

    @media (orientation: portrait) {
      max-width: 320px;
    }

    &.Requested {
      background-color: $sapphire-white;
      background-image: none;
      color: $dark-grey;

      .MedicalCard__Title--container {
        color: $regular-alpha;

        .MedicalCard__Title--subTitle {
          color: $dark-grey;
        }

      }

      .MedicalCard__Title--subTitle {
        color: $mid-light-grey;

      }

      .MedicalCard__TimeTo {
        display: none;
      }

      .Photo {
        img {
          border-color: $mid-light-grey;
        }
      }
    }

    &.MainAccount {
      .Photo {
        img {
          border: 2px solid $regular-alpha;

        }

      }
    }
  }

  &__Row {
    display: flex;
    flex: 2;
    position: relative;
  }

  &__Row:nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    flex: 1;
  }

  &__Title {
    @media (orientation: portrait) {
      flex: 2;

    }

    flex:1;
    white-space: nowrap;
  }

  &__TimeTo,
  &__Location,
  &__Date {
    flex: 1;
  }

  &__Title--icon {
    align-items: flex-start;
    display: flex;
    margin-right: 5px;
  }



  &__Location,
  &__Date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (orientation: landscape) {
      align-items: center;
    }

    .MedicalCard__Title--wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .MedicalCard__Title--subTitle {
      font-weight: bold;
    }
  }

  &__Location {
    margin-right: 5px;
  }

  &__Date {
    margin-left: 5px;
    ;
  }

  &__Title--container {
    display: flex;

    @media (orientation: landscape) {
      justify-content: center;
    }


    >.MedicalCard__Title--icon {
      font-size: 22px;
    }
  }

  &__Title--wrapper {

    .MedicalCard__Title--title {
      font-size: 22px;
      font-weight: bold;
      line-height: 24px;
    }



  }

  &__PhotoContainer {
    text-align: right;

    .Photo {
      img {
        border-color: $mid-light-grey;
        border-radius: 50%;
        height: 40px;
        width: 40px;
      }

    }
  }

  &__TimeTo {
    @include remainDays
  }

  &__PhotoContainer+&__TimeTo {
    bottom: -12px;
    position: absolute;
    right: 0;
    z-index: 1;
  }


}
