/*UserCardWithBottomActions*/
@use '~Settings/colors'as *;

.user-card-bottom-actions-wrapper {
  background: $sapphire-white;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.user-card-bottom-actions-wrapper .user-card-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 10px 8px;
}

.user-card-bottom-actions-wrapper .user-card-actions-act {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 26px;
}

.user-card-bottom-actions-wrapper .user-info-custom {
  margin-bottom: 0;
  padding: 21px 0;
}

.user-card-bottom-actions-wrapper .user-info-content {
  padding-top: 0;
}
