/* Login Screen */


@use '~Settings/colors'as colors;

.login-screen {
  background-color: colors.$sapphire-care-blue3;
  /*secondary-color*/
  overflow: hidden;
}

.login-screen .login-logo {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-flex: 0.3;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0.3;
  flex: 0.3;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  height: 200px;
  justify-content: center;
}

.login-screen a,
.login-screen a:visited,
.login-screen a:link {
  color: colors.$sapphire-white;
  font-weight: 500;
}

.login-form {
  max-width: initial;
  overflow: scroll;
  padding: 0px 30px 30px 30px;
  width: 100%;
}

.login-screen input[data-input],
.login-screen input[data-input]:focus,
.login-screen input[data-input]:empty,
.login-screen .animated-label-input input[data-input],
.login-screen .animated-label-input input[data-input]:empty {
  border-bottom: 1px solid colors.$regular-alpha;
  /*primary-color*/
  color: colors.$sapphire-white;
  font-size: 16px;
}

.login-screen .animated-label-text {
  color: colors.$sapphire-white;
  font-size: 16px;
  top: 18px;
}

.login-screen .animated-label.active .animated-label-text {
  top: 2px;
}

.login-screen .animated-label-input .show-password {
  color: colors.$regular-alpha;
  /*primary-color*/
}

.login-actions {
  margin-top: 20px;
  text-align: center;
}

.login-actions a {
  display: block;
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
}

.login-actions a:last-child {
  padding-bottom: 30px;
}

.login-actions-big {
  color: colors.$regular-alpha;
  /*primary-color*/
  font-size: 16px;
  line-height: 24px;
}

.login-actions-big .sc {
  display: inline-block;
  font-size: 40px;
  margin-right: 4px;
  top: -6px;
}

.login-actions-big .icon {
  font-size: 24px;
  margin-right: 1px;
}

.login-button {
  color: colors.$sapphire-care-blue3;
  font-size: 12px;
  padding-bottom: 14px;
  position: relative;
  text-align: center;
}

.login-button:before {
  background-color: colors.$sapphire-white;
  border-radius: 100%;
  content: "";
  display: block;
  height: 350%;
  left: 50%;
  position: absolute;
  top: -105%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 110%;
  z-index: 0;
}

.login-button>div {
  margin-top: -15px;
  position: relative;
}

.login-button a,
.login-button a:visited,
.login-button a:link {
  color: colors.$regular-alpha;
  /*primary-color*/
  display: block;
  margin: 2px auto 0;
}

.user-info-login a,
.user-info-login a:link,
.user-info-login a:visited,
.user-info-logout a,
.user-info-logout a:link,
.user-info-logout a:visited {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
