/* Tabs */
@use '~Settings/colors'as *;
@use '~Settings/fonts'as *;

.tabs-header {
  background-color: transparent;
  margin-bottom: 30px;
}


.tabs-header-tab {
  color: $mid-dark-grey;
  font-size: 16px;
  padding: 12px 20px 15px;
  text-transform: none;
}

.tabs-underline {
  background-color: $regular-alpha;
  /*primary-color*/
}

.tabs-header-tab.active {
  border-bottom: 2px solid $regular-alpha;
  /*primary-color*/
  color: $sapphire-care-blue3;
  font-family: $latin-bold;
  /*secondary-color*/
}

/* hack to force tab to be full height for appointments */
.tabs-content-tab .blank-slate.large {
  min-height: 60vh;
}

.tabs-content-tab .blank-slate.large .blank-slate-icon {
  font-size: 80px;
}

.tabs-content-tab .blank-slate.large .blank-slate-icon,
.lineHeightOne .blank-slate.large .blank-slate-icon {
  line-height: 1;
}
