/* Timeline */

@use '~Settings/colors';

.timeline-item.active .timeline-icon-container:empty {
  background: colors.$sapphire-white;
  border: 1px solid colors.$regular-alpha;
  /*primary-color*/
}

.timeline-icon-container:empty {
  height: 12px;
  width: 12px;
}

[data-block*="TimelineItem"] .timeline-item {
  min-height: 90px;
}

[data-block*="TimelineItem"] .timeline-item.active {
  min-height: 100px;
  padding-top: 17px;
}

[data-block*="TimelineItem"] .timeline-left {
  font-size: 14px;
  text-align: right;
  width: 50px;
}

[data-block*="TimelineItem"] .timeline-icon {
  width: 34px;
}

[data-block*="TimelineItem"]:not(:last-child) .timeline-icon-line,
[data-block*="TimelineItem"] .timeline-icon-line {
  border-right: 2px solid colors.$regular-alpha;
  /*primary-color*/
  bottom: -15px;
  height: auto;
  margin-left: calc(50% - 1px);
  opacity: .2;
  opacity: .5;
  position: absolute;
  top: 24px;
  width: 0;
}

.is-rtl [data-block*="TimelineItem"]:not(:last-child) .timeline-icon-line,
.is-rtl [data-block*="TimelineItem"] .timeline-icon-line {
  margin-left: 0;
  margin-right: calc(50% - 1px);
}

[data-block*="TimelineItem"] .timeline-item.active .timeline-icon-line {
  background: transparent;
  border-right: 2px dashed colors.$regular-alpha !important;
  /*primary-color*/
  top: -17px;
}

[data-block*="TimelineItem"]:not(:last-child) .timeline-icon-container:empty,
[data-block*="TimelineItem"] .timeline-icon-container:empty {
  -webkit-box-shadow: 0 0 0 6px colors.$sapphire-white;
  box-shadow: 0 0 0 6px colors.$sapphire-white;
  margin: 5px 11px 0;
  position: relative;
  z-index: 1;
}
